.contenedor-search {
    display: none;
    width: 100vw;
    text-align: center;
    padding: 20px 0;
}

#inputBuscar {
    padding: 8px;
    outline: none;
}

.error-message {
    font-size: 14px;
    color: rgb(223, 34, 34);
}

/* .message {
    text-align: center;
} */