@media (max-width: 500px) {
    /* inicio.html */
    .crear-sala {
        width: 200px;
    }

    .contenedor-sala {
        min-width: 280px;
    }
}

@media (max-width: 350px) {
    /* inicio.html */
    .crear-sala {
        width: 150px;
    }

    .contenedor-sala {
        min-width: 230px;
    }

    .sala {
        flex-direction: column;
        padding: 32px 0;
        gap: 15px;
        justify-content: center;
    }
}