<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/registrar.css">
    <title>Registrar</title>
</head>
<body>
    <form class="formulario">
        <div class="contenedor-titulo"> 
            <h1>Registrarse</h1>
        </div>
        <label for="nombre">Nombre de usuario:</label>
        <input type="text" id="nombre" class="form-input" autocomplete="off">
        <p class="error"></p>
        <button class="btn form-input" type="submit">Registrar</button>
    </form>
    <script src="scripts/registro.js"></script>
</body>
</html>